{% extends 'base.html' %}
{% block content %}

<style>

.jumbotron {
  margin-top: 40px;
  height: 400px;
}

p {
  font-family: 'Homenaje', sans-serif;
  font-size: 10px;
}

a, input {
  font-family: 'Homenaje', sans-serif;
}

</style>

<div class="jumbotron top-header" id="user-info">
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h2>{{ movie.title }}</h2>
            <div class="col-xs-12 col-lg-6">
              <b>Released:</b> {{ movie.release_date| datetimefilter("%b %d, %Y") }}
          <br>
              <b>IMDB:</b><a href="{{ movie.imdb_url }}" style="color:#ffffff">{{ movie.imdb_url }}</a>

              <p>Average rating: 
              {% if avg_rating %}
                {{ "{:.2f}".format(avg_rating) }}
              {% else %}
                {{ avg_rating }}
              {% endif %}
              <p> 

                {% if prediction %}
                  <p>We predict you will rate this movie {{ prediction }}.</p>
                {% endif %}
              {% if eye_rating %}
              <p>Eye Rating: <b class="text-danger">{{ eye_rating }}</b></p>
                {% endif %}
              {% if difference %}
              <p>Difference: <b class="text-danger">{{ difference }}</b></p>
                {% endif %}
              {% if beratement %}
              <p>The Eye says: <b class="text-danger">{{ beratement }}</b></p>
                {% endif %}

              <i><a href="/rating_list" style="color:#ffffff">See All Ratings</a></i>
            </div>
          </div>
          <div class="col-xs-12 col-md-2"></div>
          <div class="col-xs-12 col-md-4">
              {% if session.get('logged_email') %}
                <h2>Your Rating</h2>
              {% if user_rating %}
                <p>You currently rate this a {{ user_rating.score }}</p>
              {% endif %}
                <form action="/movies/{{ movie.movie_id }}/rate-movie">
                    <div class="form-group">
                        <label><b>My Rating:<b></label>
                          <select name="user_rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                    </div>
                  <input type="submit" value="Record Your Puny Rating"
                     class="btn btn-danger">
                </form>
              {% endif %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}

