{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <table class="table">
                <tbody>
                  {% for user in users %}
                    <tr>
                        <td><a href="/users/{{ user.user_id }}">
                        {{ user.user_id }}</a></td>
                        <td>{{ user.email }}</td>
                        <td> {{ user.age }}</td>
                        <td> {{ user.zipcode }}</td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}